<!DOCTYPE html>
<html lang="en">

  <head>
    <title>National conversation on the future of the NHS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="preload" as="image"
      href="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1712143099/ico-x-hover.svg?1712143099">
    <link rel="preload" as="image"
      href="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1712143099/ico-facebook-hover.svg?1712143099">
    <link rel="preload" as="image"
      href="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1712143099/ico_more_hover.svg?1712143099">
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Caveat:wght@700&display=swap">
    <link rel="stylesheet"
      href="https://sortitionfoundation.nationbuilder.com/themes/7/5e94e5d8c2948023a9c0718a/0/attachments/15923029651752501450/default/theme.scss" />
    <link rel="stylesheet"
      href="https://sortitionfoundation.nationbuilder.com/themes/7/5e94e5d8c2948023a9c0718a/0/attachments/15923029651752501450/default/main.scss" />
    <link rel="stylesheet"
      href="https://sortitionfoundation.nationbuilder.com/themes/7/5e94e5d8c2948023a9c0718a/0/attachments/15923029651752501450/default/_sidr.scss" />
    <link rel="stylesheet"
      href="https://sortitionfoundation.nationbuilder.com/themes/7/5e94e5d8c2948023a9c0718a/0/attachments/15923029651752501450/default/sortition.scss" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new-style.css') }}">
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="de2a567f-3638-4a29-96a4-9e508b998302"
      data-blockingmode="auto" type="text/javascript"></script>
    <script type="text/javascript">var _sf_startpt = (new Date()).getTime()</script>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="Mw2UlazDPsXW6xYSWVQVBK4/Lpv3RirSG107QorhP7M=" name="csrf-token" />
    <link rel="canonical" href="https://www.sortitionfoundation.org/dhsc_east_copy" />
    <meta name="Title" content="National conversation on the future of the NHS">
    <meta property="og:title" content="National conversation on the future of the NHS" />
    <meta property="og:url" content="https://www.sortitionfoundation.org/dhsc_east_copy">
    <meta property="og:description" content="Change Politics: Upgrade Democracy Now!">
    <meta property="og:type" content="article">
    <link rel="image_src"
      href="https://assets.nationbuilder.com/sortitionfoundation/sites/7/meta_images/original/Logo_Sortition_Foundation_Landscape.png?1620659686" />
    <meta property="og:image"
      content="https://assets.nationbuilder.com/sortitionfoundation/sites/7/meta_images/original/Logo_Sortition_Foundation_Landscape.png?1620659686" />
    <meta property="og:site_name" content="Sortition Foundation" />
    <script type="text/javascript">
      var NB = NB || {};

      NB.environment = "production";
      NB.pageId = "6170";
      NB.Liquid = NB.Liquid || {
        Theme: {
          version: 2,
          name: "Sortition Foundation",
          parent: "bootstrap",
          variation: ""
        },
        Localization: {
          locale: "en",
          strings: {
            'liquid.event_ticket_level.confirm_purchase_popup':
              "You have indicated that you are purchasing more than 10 tickets. If this is a mistake, please click Cancel. To proceed with your purchase of more than 10 tickets, click OK."
          }
        },
        FeatureFlags: {
          confirmTicketPurchaseOptOut: "false"
        }
      };
      NB.payments = NB.payments || { elements: {} };
      NB.payments.decimal_mark = "."
      NB.payments.thousands_separator = ","
      NB.payments.currency = "gbp";
      NB.authProvider = NB.authProvider || { providerId: "", redirectHost: "" };
      NB.authProvider.providerId = "org_20LB54JzFNriKPIi";
      NB.authProvider.redirectHost = "sortitionfoundation.nationbuilder.com";
    </script>
    <script type="text/javascript">
      _token_name = "authenticity_token";
      _token = "Mw2UlazDPsXW6xYSWVQVBK4/Lpv3RirSG107QorhP7M=";
      //]]>
    </script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/cupertino/jquery-ui.css"
      type="text/css" media="all">
    <link rel="icon" type="image/x-icon"
      href="https://assets.nationbuilder.com/sortitionfoundation/sites/7/favicon_images/original/SF-favicon-new.ico?1601304126" />
    <script
      src="https://assets.nationbuilder.com/assets/liquid/main-a5dc440bb64ae73e1ce7792529abc9a06115cbc260289b77a522bcd76fc075af.js"></script>
    <script type="text/plain" data-cookieconsent="marketing">
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
    js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
</script>
    <script type="text/plain" data-cookieconsent="marketing">
  NB.FBAppId = '1679673749184434';
</script>
    <script type="text/javascript">
      (function (d) { var config = { kitId: 'mir8sij', scriptTimeout: 3000, async: true }, h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s) })(document);
    </script>
    <script type="text/plain" data-cookieconsent="statistics">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'G-55GMVX2TN3']);
     _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_gat._anonymizeIp']);
    _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_setCustomVar', 1, 'UGC', 'false', 3]);
      _gaq.push(['_setCustomVar', 1, 'Page type', 'Signup', 3]);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

      let s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
    <!-- The following line of CSS hides a checkbox in social share prompts for posting to Facebook;
As of Aug 1 2018, FB has deprecated the ability for apps to post to personal profile pages, so this is a temporary fix
while we re-configure the social share prompt -->
    <style>
      label[for="face_tweet_is_facebook"] {
        display: none;
      }
    </style>
    <!-- The following CSS hides elements related to authentication now deprecated
due to the migration to an external auth provider as of Jan 2025.
Currently in place to cover any custom themes that
might not be updated to remove password inputs or social login links. -->
    <style>
      label[for="user_session_password"] {
        display: none;
      }

      #user_session_password {
        display: none;
      }

      label[for="activation_password_confirmation"] {
        display: none;
      }

      #activation_password_confirmation {
        display: none;
      }

      label[for="activation_password"] {
        display: none;
      }

      #activation_password {
        display: none;
      }

      .oauth-links:has(a.login-button-facebook) {
        display: none;
      }

      .oauth-links:has(a.connect-button-facebook) {
        display: none;
      }

      .signin-with-facebook:has(a[href*="facebook/connect"]) {
        display: none !important;
      }

      .social_connect:has(a[href*="facebook/connect"]) {
        display: none !important;
      }

      a[href*="facebook/connect"] {
        display: none !important;
      }

      .hidden-first-word {
        display: none !important;
      }

      *:has(.hidden-first-word):first-letter {
        text-transform: uppercase;
      }

      .content-user-sessions-new-wide hr {
        display: none;
      }

      .sign-in-with-email .or-button {
        display: none;
      }
    </style>
    <script>NB.appConfig.userIsLoggedIn = false;</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/css-element-queries/1.2.3/ResizeSensor.min.js"></script>
    <script defer
      src="https://sortitionfoundation.nationbuilder.com/themes/7/5e94e5d8c2948023a9c0718a/0/attachments/15923029651752501450/default/manifest.js"
      data-cookieconsent="ignore"></script>
    <!-- Meta Pixel Code -->
    <script>
      !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
          n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
      }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '591570949758484');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=591570949758484&ev=PageView&noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->
  </head>

  <body class="aware-theme v2-theme page-type-signup page-pages-show-signup-wide inner  dhsc_east_copy js">
    <div class="wrapper">
      <div id="sidr" style="display:none">
        <div class="close">
          <a href="#"><img
              src="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1712143099/ico_close-menu.svg?1712143099" /></a>
        </div>
        <ul id="topnav" class="topnav desktop-nav">
          <li class=" drop">
            <a href="/about" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-expanded="false">Democratic Lotteries</a>
            <ul class="sub">
              <li><a href="/services">Democratic Lottery Services</a></li>
              <li><a href="/case_studies">Client Case Studies</a></li>
              <li><a href="/our_clients">Our Clients</a></li>
            </ul>
          </li>
          <li class=" drop">
            <a href="/act" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">858
              Project</a>
            <ul class="sub">
              <li><a href="/858_project_home">858 Project</a></li>
              <li><a href="/858_project_hoc">Replace the Lords with a House of Citizens</a></li>
              <li><a href="/join">Keep me updated</a></li>
              <li><a href="/858_sign_the_petition">Sign the petition</a></li>
            </ul>
          </li>
          <li class=" drop">
            <a href="/explore" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Learn
              more</a>
            <ul class="sub">
              <li><a href="/what">What is a citizens' assembly?</a></li>
              <li><a href="/citizens_assembly">About Citizens' Assemblies</a></li>
              <li><a href="/why">Why Citizens' Assemblies?</a></li>
              <li><a href="/how">How to run a Citizens' Assembly</a></li>
              <li><a href="/cases">Citizens' Assembly Case Studies</a></li>
              <li><a href="/updates">Read Our Latest News</a></li>
              <li><a href="/people">Our people</a></li>
              <li><a href="/media">Media</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
          </li>
        </ul>
        <a href="/support-us" class="btn">Support Us</a>
        <div class="contact-bar">
          <a href="https://www.facebook.com/SortitionFoundation/" target="_blank"><img
              src="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1712143099/ico_facebook-menu.svg?1712143099" /></a>
          <a href="https://twitter.com/SortitionNow" target="_blank"><img
              src="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1712143099/ico_twitter-menu.svg?1712143099" /></a>
        </div>
      </div>
      <div class="main-container" id="middle">
        <div class="main clearfix">
          <div class="column content-pages-show-signup-wide">
            <div class="columns-1-flash">
              <div id="flash_container">
              </div>
            </div>
            <div class="container-join">
              <a href="/services"><img id="disappear"
                  src="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1712143101/logo_sortition-foundation_alt.svg?1712143101"
                  style="float: left; padding-left: 25px; padding-top: 25px;" /></a>
              <div class="container">
                <div class="header-basic rsvp-page">
                  <div class="text-align: center">
                    <h1>National conversation on the future of the NHS </h1>
                  </div>
                </div>
                <div id="google_translate_element" style="text-align: center;">
                  <script type="text/javascript">function googleTranslateElementInit() {
                      new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL }, 'google_translate_element');
                    }
                  </script>
                  <script src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit'></script>
                </div>
                <div class="container">
                  <div class="row">
                    <p>&nbsp</p>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                          <div id="content">
                            <div class="intro">
                              <p><img
                                  src="https://assets.nationbuilder.com/sortitionfoundation/pages/6170/attachments/original/1748864600/DHSC_3268_AW-removebg-preview.png?1748864600"
                                  alt="" width="165" height="138"><img style="float: right; margin: 30px;"
                                  src="https://assets.nationbuilder.com/sortitionfoundation/pages/6170/attachments/original/1748864600/NHS-logo.png?1748864600"
                                  alt="" width="235" height="94" /></p>
                              <p> </p>
                              <p>Thank you for your interest in taking part in a <strong>national conversation on the
                                  future of the NHS</strong></p>
                              <p>The conversation will be held on Saturday 30 November in Ipswich.</p>
                              <p>In the week prior to the in-person discussions you will also be invited to take part in
                                a 2-hour online workshop. These will be held in the evening from 6pm – 8pm. You will be
                                able to choose the evening you attend. </p>
                              <p><span>All participants will receive</span>
                                <strong>£175</strong><strong> </strong>as a thank you for your time. If there is
                                anything we can do to help you to take part, we will be happy to discuss this with you.
                                We can look into options if you do not have a video device or an internet connection -
                                please register for the event whatever your situation, and someone will be in touch if
                                you are selected to take part.
                              </p>
                              <p>Please call our <strong>Freephone number 0800 009 6486</strong> (8am–8pm every day) if
                                you need help registering or have other questions. You can also email questions to <a
                                  href="/cdn-cgi/l/email-protection#b9d7d1caf9cad6cbcdd0cdd0d6d7dfd6ccd7ddd8cdd0d6d797d6cbde"><span
                                    class="__cf_email__"
                                    data-cfemail="5c32342f1c2f332e2835283533323a332932383d2835333272332e3b">[email&#160;protected]</span></a>
                                . </p>
                              <p> </p>
                              <p><strong>IMPORTANT NOTES</strong>:</p>
                              <ul>
                                <li>Every person who registers online must have their own individual email address.
                                  <span>If you do not have an email address, or you share one with someone else who is
                                    registering, please ring the Freephone number above to register.</span>
                                </li>
                                <li>All fields marked with an asterisk (*) must be completed.</li>
                                <li><strong><span style="font-weight: 400;">We will share all</span> <span
                                      style="font-weight: 400;">your contact, attitudinal and demographic details with
                                      <a href="https://www.thinksinsight.com/"><strong><span
                                            style="text-decoration: underline;">Thinks</span></strong></a></span><span
                                      style="font-weight: 400;">, the organisation running this event, and they will
                                      make a separate data agreement with you if you are selected to take part.<strong>
                                        Your data will be kept strictly confidential.</strong> We will delete your
                                      details within one year of the completion of the event, unless you tell us
                                      otherwise below. Please read our <a href="/privacy_policy">Privacy Policy</a> for
                                      more details.</span></strong></li>
                                <li><strong><span style="font-weight: 400;">At any time, you can withdraw your consent
                                      and ask us to delete your data, or request a copy of it, by emailing <a
                                        href="/cdn-cgi/l/email-protection#e9999b809f888a90a99a869b9d809d8086878f869c878d889d808687c7869b8e"><span
                                          class="__cf_email__"
                                          data-cfemail="d1a1a3b8a7b0b2a891a2bea3a5b8a5b8bebfb7bea4bfb5b0a5b8bebfffbea3b6">[email&#160;protected]</span></a>.
                                      If you ask us to delete your data, we will tell the other organisation(s) listed
                                      above to do the same.</span></strong></li>
                              </ul>
                              <p> </p>
                            </div>
                            <div class="form-wrap">
                              <div class="form">
                                <form id="dhsc_east_copy_page_new_signup_form" class="signup_form" method="POST"
                                  data-form="signup" enctype="multipart/form-data" action="" autocomplete="on" novalidate> 
                                  {{ form.hidden_tag() }}
                                   <input name="authenticity_token" type="hidden"
                                    value="Mw2UlazDPsXW6xYSWVQVBK4/Lpv3RirSG107QorhP7M=" /><input name="page_id"
                                    type="hidden" value="6170" /><input name="return_to" type="hidden"
                                    value="https://www.sortitionfoundation.org/dhsc_east_copy" />
                                  <div class="email_address_form" style="display:none;" aria-hidden="true">
                                    <p><label for="email_address">Optional email code</label><br /><input
                                        name="email_address" type="text" class="text" id="email_address"
                                        autocomplete="off" /></p>
                                  </div>
                                  <div class="form-errors"></div>
                                  <fieldset id="input1-fieldset">
                                    <legend>Confirm eligibility and ability to attend</legend>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="signup_custom_values_ca_can_attend_custom"></label>
                                          <input aria-describedby="can_attend_all_dates_error" id="signup_custom_values_ca_can_attend_custom"
                                            name="signup[custom_values][ca_can_attend]" type="checkbox" value="0"
                                            required>
                                          <b class="form-group-mandatory">I can attend all dates.</b>
                                          <p><i>I can attend the conversation on <b>Saturday 30 November</b></i></p>
                                          <span id="can_attend_all_dates_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="signup_custom_values_ca_eligible_custom"></label>
                                          <input aria-describedby="eligible_to_attend_error" id="signup_custom_values_ca_eligible_custom"
                                            name="signup[custom_values][ca_eligible]" type="checkbox" value="0"
                                            required>
                                          <b class="form-group-mandatory">I am eligible to attend.</b>
                                          <p><i> I am eligible to attend: I am 16 years old or over, I live in the UK, I
                                              live at an address that received an invitation and I <b>am not</b> an
                                              elected representative of any level of government, a paid employee of a
                                              political party, a Council employee working in a politically restricted
                                              role <b> or</b> a journalist (although if you are interested in attending
                                              in an observational capacity, please get in touch) </i></p>
                                          <span id="eligible_to_attend_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                  </fieldset>
                                  <fieldset id="input2-fieldset">
                                    <legend>Name, contact details and address </legend>
                                    <p style="font-size: 18px">We use the following contact details in order to
                                      communicate with you about this event. </p>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group"> 
                                          {{ form.first_name.label(class="form-group-mandatory") }} 
                                          {{ form.first_name(class="text form-control") }} 
                                          <span id="first_name_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group"> 
                                          {{ form.last_name.label(class_="form-group-mandatory") }} 
                                          {{ form.last_name(class="text form-control") }} 
                                          <span id="last_name_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group"> 
                                          {{ form.email.label(class="form-group-mandatory") }}
                                          {{ form.email(class="text form-control") }} 
                                          <span id="email_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group"> 
                                          {{ form.phone.label(class="form-group-mandatory") }} 
                                          {{ form.phone(class="text form-control") }} 
                                          <span id="phone_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group"> 
                                          {{ form.address1.label(class="form-group-mandatory") }}
                                          {{ form.address1(class="text form-control") }} 
                                          <span id="address_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group"> 
                                          {{ form.address2.label }} 
                                          {{ form.address2(class="text form-control") }} 
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group"> 
                                          {{ form.city.label(class="form-group-mandatory") }} 
                                          {{ form.city(class="text form-control") }} 
                                          <span id="city_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group"> 
                                          {{ form.post_code.label(class="form-group-mandatory") }} 
                                          {{ form.post_code(class="text form-control") }} 
                                          <span id="post_code_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                  </fieldset>
                                  <fieldset id="input3-fieldset">
                                    <legend>About you</legend>
                                    <p style="font-size: 18px">We use the following details in our democratic lottery
                                      process, to select a group of participants that broadly represents the entire
                                      community. </p>
                                    <style>
                                      select:invalid {
                                        color: gray;
                                      }
                                    </style>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group"> 
                                          {{ form.gender.label(class="form-group-mandatory") }}
                                          {{ form.gender }} 
                                          <span id="gender_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <p style="font-size: 18px">What is your date of birth?</p>
                                    <div class="row">
                                      <div class="col-md-4">
                                        <div class="form-group"> 
                                          {{ form.birth_day.label(class="form-group-mandatory") }} 
                                          {{ form.birth_day }} 
                                          <span id="birth_day_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="form-group"> 
                                          {{ form.birth_month.label(class="form-group-mandatory") }} 
                                          {{ form.birth_month }} 
                                          <span id="birth_month_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="form-group"> 
                                          {{ form.birth_year.label(class="form-group-mandatory") }} 
                                          {{ form.birth_year }} 
                                          <span id="birth_year_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group"> 
                                          {{ form.ethnicity.label(class="form-group-mandatory") }} 
                                          {{ form.ethnicity }} 
                                          <span id="ethnicity_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group"> 
                                          {{ form.disability.label(class="form-group-mandatory") }} 
                                          {{ form.disability }} 
                                          <span id="disability_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group"> 
                                        {{ form.satisfaction_level.label(class="form-group-mandatory") }} 
                                        {{ form.satisfaction_level }} 
                                        <span id="satisfaction_level_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group"> 
                                        {{ form.educational_qualification.label(class="form-group-mandatory") }} 
                                        {{ form.educational_qualification }} 
                                          <span id="educational_qualification_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <a
                                        href="https://www.ons.gov.uk/census/census2021dictionary/variablesbytopic/educationvariablescensus2021/highestlevelofqualification">Educational
                                        definitions</a> include the following: <ul>
                                        <li><b>No qualifications, or none yet:</b> you have none of the qualifications
                                          (or none yet) listed below.
                                        <li><b>Level 1:</b> up to 4 GCSEs grade A* to C; any GCSEs, O levels or CSEs at
                                          other grades; 1 AS level; NVQ level 1. </li>
                                        <li><b>Level 2:</b> 5 or more GCSEs (A* to C), O levels (passes) or CSEs; 1 A
                                          level; 2 to 3 AS levels; Welsh Baccalaureate Intermediate Diploma; NVQ level
                                          2; BTEC First or General Diploma. </li>
                                        <li><b>Level 3:</b> 2 or more A levels; 4 or more AS levels; Higher School
                                          Certificate; Welsh Baccalaureate Advance Diploma; NVQ level 3; BTEC National.
                                        </li>
                                        <li><b>Level 4 or above:</b> degree (BA, BSc); higher degree (MA, PhD, PGCE);
                                          NVQ level 4 to 5; BTEC Higher level; professional qualifications (for example,
                                          teaching, nursing, accountancy).</li>
                                        <li><b>Apprenticeship, or other qualification:</b> Apprenticeship; vocational or
                                          work-related qualifications; other qualifications.
                                      </ul>
                                    </div>
                                  </fieldset>
                                  <fieldset id="input4-fieldset">
                                    <legend>Consent to use your data</legend>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group"> 
                                          <label
                                            for="signup_custom_values_consent_custom"></label>
                                          <input aria-describedby="privacy_policy_error" id="signup_custom_values_consent_custom"
                                            name="signup[custom_values][consent]" type="checkbox" value="0" required>
                                          <b class="form-group-mandatory">I consent to the use of my data as described
                                            on this page, and in more detail in our <a href="privacy_policy">privacy
                                              policy</a>.</b>
                                          <p></p>
                                          <span id="privacy_policy_error" role="alert" class="error-text"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="signup_custom_values_stay_on_db_custom"></label>
                                          <input id="signup_custom_values_stay_on_db_custom"
                                            name="signup[custom_values][stay_on_db]" type="checkbox" value="1"> Please
                                          also inform me of similar events in the future (do not delete my details after
                                          this event).
                                        </div>
                                      </div>
                                    </div>
                                    <input id="submit-button" class="submit-button btn btn-primary" type="submit"
                                      name="commit" value="Register" />
                                    <div class="form-submit"></div>
                                    <!-- Display validation errors --> 
                                    {% if form.errors %} 
                                      <div style="background-color: #ffebee; border: 1px solid #f44336; padding: 15px; margin: 20px 0; border-radius: 4px;">
                                        <h4 style="color: #c62828; margin-top: 0;">Please fix the following errors:</h4>
                                        <ul style="color: #c62828; margin: 0;"> 
                                        {% for field_name, errors in form.errors.items() %}
                                          {% for error in errors %} 
                                            <li>{{ error }}</li> 
                                          {% endfor %} 
                                        {% endfor %} </ul>
                                      </div> 
                                    {% endif %}
                                  </fieldset>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <style>
                    #flash {
                      display: none !important
                    }
                  </style>
                </div>
                <!-- .column -->
              </div>
            </div>
          </div>
          <footer>
            <div class="container">
              <div class="row">
                <div class="col-md-2">
                  <figure><a href="/"><img
                        src="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1712143101/logo_sortition-foundation_alt.svg?1712143101"></a>
                  </figure>
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="footer-text">
                        <div>
                          <p><strong>United Kingdom</strong><br>Ground Floor, 3 Wellbrook Court<br>Girton, Cambridge CB3
                            0NA<br>+44 (0) 1394 825 995<br><a
                              href="/cdn-cgi/l/email-protection#e9999b8c9a9aa99a869b9d809d8086878f869c878d889d808687c7869b8e">Press
                              enquiries email</a></p>
                        </div>
                        <div>
                          <p><strong>Australia</strong><br>PO Box 332<br>Brunswick<br>VIC 3056<br>+61 1800 979 787</p>
                        </div>
                        <div>
                          <p><strong>United States of America</strong><br>5100 SW Macadam Ave Suite 360<br>Portland OR
                            97239<br>+ 1 (866) 217 0581</p>
                        </div>
                        <div>
                          <p><img
                              style="display: block; margin-right: 20px; float: left; width: 121px; height: 140px; padding-left: 20px; border-left: 1px solid black;"
                              src="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1712143100/logo-sortition-europe.svg"
                              alt="" width="141" height="140" /><span
                              style="display: inline-block;"><strong>Hungary</strong><br>Ráday Utca 31C<br>1092
                              Budapest<br>+36 20 294 8309</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-8">
                      <p><a href="/terms_and_conditions">Terms and Conditions</a> <span>|</span>
                        <a href="/privacy_policy">Privacy Policy</a>
                      </p>
                      <p>Made with <a href="https://nationbuilder.com/" target="_blank">NationBuilder</a> <span>|</span>
                        Built by <a href="https://www.tectonica.co/" target="_blank">Tectonica</a></p>
                    </div>
                    <div class="col-lg-4">
                      <div class="cc">
                        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"><img
                            src="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1712143101/ico_cc.png?1712143101" /></a>
                      </div>
                      <div class="contact-bar">
                        <a href="https://www.facebook.com/SortitionFoundation/" target="_blank"><img
                            src="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1732526706/ico_facebook_sf.png?1732526706" /></a>
                        <!-- <a href="https://www.instagram.com/sortitionnow/" target="_blank"><img src="ico_instagram_sf.png"></a> -->
                        <a href="https://twitter.com/SortitionNow" target="_blank"><img
                            src="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1732526709/ico_x_sf.png?1732526709" /></a>
                        <a href="/contact" target="_blank"><img
                            src="https://assets.nationbuilder.com/themes/5e94e5d8c2948023a9c0718a/attachments/original/1732526707/ico_mail_sf.png?1732526707" /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <section id="disclaimer">
            <p>We use cookies on our websites. You are free to manage this via your browser setting at any time.</p>
            <p><a href="#" class="accept-cookies">Accept</a></p>
          </section>
          <div id="fb-root"></div>
          <script type="text/javascript" src="{{ url_for('static', filename='js/validation.js') }}"
            data-cookieconsent="ignore"></script>
          <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
          <script type="text/plain" data-cookieconsent="marketing">
                window.fbAsyncInit = function() {
                  FB.init({
                    appId      : 1679673749184434,
                    channelUrl : "//sortitionfoundation.nationbuilder.com/channel.html",
                    status     : true,
                    version    : "v18.0",
                    cookie     : true,
                    xfbml      : true
                  });
                };
                (function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s);
                  js.id = id;
                  js.async = true;
                  js.src = "//connect.facebook.net/en_US/sdk.js";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
          </script>
          <script
            src="https://assets.nationbuilder.com/assets/liquid-6fda76e47cd1a46bec92e2adac0a0453c78638197e234d7667c2ff4366c5a44a.js"></script>
          <script
            src="https://assets.nationbuilder.com/assets/tinymce-f5447d6f9625506b293274e8cf3f7da959e3890fe3bfc443fe959bffa8a68b4e.js"
            data-turbolinks-track="reload"></script>
          <script data-cookieconsent="ignore"
            src="https://sortitionfoundation.nationbuilder.com/themes/7/5e94e5d8c2948023a9c0718a/0/attachments/15923029651752501450/default/bootstrap.js"></script>
          <script
            src="https://sortitionfoundation.nationbuilder.com/themes/7/5e94e5d8c2948023a9c0718a/0/attachments/15923029651752501450/default/sidr.js"
            data-cookieconsent="ignore"></script>
  </body>

</html>